body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

#map {
    position: absolute;
    width: 66%;
    height: 50%;
    top: 0;
    bottom: 0;
}

#control {
    font-family: 'Helvetica', sans-serif;
    position: absolute;
    z-index: 500;
    color: navy;
    top: 43%;
    right: 16%;
    display: inline-block;

}

#grid {
    position: absolute;
    overflow: scroll;
    height: 50%;
    bottom:0px;
}
#legend{
    z-index: 500;
    top: 0%;
    right:1%;
    position: absolute;
    width: 480px;
    padding: 5px 20px;
    color: #233d57;
}
.session {
    margin-bottom: 20px;
}

.row {
    height: 12px;
    width: 70%;
}

.colors {
    background: linear-gradient(to right, #de7622, #b0c324, #169873, #1a9cc8, #090979);
    margin-bottom: 5px;
    width: 70%;
}

.label {
    width: 18%;
    display: inline-block;
    text-align: center;
}
